<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movie_show.css' %}">
</head>
<body>
    {%for theater, movie_show in theater_with_show.items%}
    <div class="theater">
        <h3>{{theater}}</h3>
        <div>
            {%for show in movie_show%}
                <a href="{% url 'book_movie:seat_map' Show_id=show.Show_id %}">
                <span class="show-time"> {{show.start_time}} </span>
                </a>
            {%endfor%}
        </div>
    </div>
    {%endfor%}
</body>
</html>